@font-face {
        font-family: "Lato";
        font-weight: normal;
        src: url('/fonts/Lato-Regular.ttf');
}
@font-face {
        font-family: "Lato";
        font-weight: 100;
        src: url('/fonts/Lato-Light.ttf');
}
@font-face {
        font-family: "Lato";
        font-weight: bold;
        src: url('/fonts/Lato-Bold.ttf');
}
.clear {
	clear: both;
}
body {
        background: #FFF8E7;
        color: #AC8C73;
        font: 14pt/1.2 Lato;
        min-width: 1000px;
}
div, header, footer, section {
        position: relative;
}
section {
    padding: 6em 0;
}
h1, h2, h3 {
    text-transform: uppercase;
    color: #DF2525;
    text-align: center;
    letter-spacing: .05em;
}
button, a {
        transition: all 200ms ease-in-out;
        border: none;
        &:focus {
        	outline: none;
        }
}
button {
	font-weight: bold;
}
.right {
	float: right;
}
.left {
	float: left;
}

p {
	line-height: 1.5;
}
a {
	color: #C73131;
	text-decoration: none;
	border-bottom: 1px dashed transparent;
	&:hover {
		border-color: #C73131;
	}
}


section.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    overflow: hidden;
}
header {
    text-align: center;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    .background {
        background: url('/img/background.jpg') no-repeat center border-box;
        background-size: cover;
        box-sizing: border-box;
        border: 0px solid #FFF8E7;
        transition: 700ms cubic-bezier(1,-3,0,4);
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
    }
    .logo {
        width: 200px;
        height: 200px;
        background: url('/img/logo.svg') 100% / contain no-repeat;
    }
    .title {
        height: 8em;
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        margin: -4em 0 0 0;
        h1 {
            width: 500px;
            font-size: 2em;
            font-family: "Lato";
            font-weight: 100;
            line-height: 1.5;
            margin: 0 auto;
            letter-spacing: 3px;
            color: #FFF;
      			text-shadow: 0 3px rgba(0,0,0,0.1);
      			text-align: left;
            text-transform: none;
            position: relative;
        }
        .tint {
        	color: #FCF5AF;
          font-weight: bold;
        }
        .fillin {
			width: 5em;
			display: inline-block;
			line-height: 1;
			.word {
				position: relative;
				white-space: nowrap;
			}
        }

    }
    .btn {
      line-height: 30px;
      margin-top: 0;
      padding: 5px 20px;
      background: none;
      color: #FFF;
      border-radius: 5px;
      box-shadow: 0 3px 10px rgba(0,0,0,0.2);
      transition:
          box-shadow 200ms ease-in-out,
          margin-top 200ms ease-in-out,
          background-color 200ms ease-in-out;
      &:hover {
          box-shadow: 0 0 1px rgba(0,0,0,0.2);
          margin-top: 1px;
          border: none;
      }
      &:active {
          color: #FFF;
          box-shadow: 0 0 transparent ,inset 0 0 20px rgba(0,0,0,0.1);
      }
      i {
          margin-right: 2px;
          font-size: 1.6em;
          vertical-align: top;
      }
    }
    .btn.contact {
        position: absolute;
        top: 30px;
        right: 30px;
        height: 50px;
        z-index: 1337;
    }
    & > * {
        z-index: 10;
    }
    .triangle {
        border: 30px solid transparent;
        border-bottom-color: rgba(255,255,255,0.1);
        position: absolute;
        top: 100%;
        left: 100%;
        z-index: 1;
    }
    .contact_card {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 35px;
        box-sizing: border-box;
        perspective: 1000px;
        pointer-events: none;
        & > .content {
            width: 100%;
            height: 100%;
            background: #FFF8E7;
            padding: 20px;
            box-sizing: border-box;
            opacity: 0;
            border-radius: 5px;
            pointer-events: all;
            transform: rotateX(20deg) translateY(100px);
            transition:
                opacity 400ms ease-in-out,
                transform 500ms cubic-bezier(1,-1,0,2);
            .card {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 400px;
                margin-top: -200px;
            }
            h1 {
                margin: 0;
                margin-bottom: 10px;
            }
            .logo {
                margin: auto;
                margin-top: 30px;
            }
            a, span {
                margin: 5px 10px;
                color: #D0AD92;
                display: inline-block;
            }
            a:hover {
                color: #C73131;
            }
        }
        &.active {
            & > .content {
                transform: rotateX(0deg)  translateY(0);
                opacity: 1;
            }
        }
    }
}
header.card {
    .background {
        border: 25px solid #FFF8E7;
        border-radius: 30px;
    }
    .btn.contact {
        background: #dd5959;
    }
}
.table {
    height: 160px;
    top: -30px;
    background: url('/img/icons/wood.png');
    background-size: contain;
    box-shadow: 0 -20px 40px rgba(0,0,0,0.1);
    z-index: 1337;
    .coffee {
        width: 300px;
        height: 150px;
        position: absolute;
        top: -135px;
        left: 50%;
        margin-left: -150px;
        z-index: 10;
        .fume {
            position: absolute;
            bottom: 110%;
        }
        .whole {
            width: 100%;
            height: 100%;
            background: url('/img/icons/coffee.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .cup {
            position: absolute;
            left: 5%;
            width: 100%;
            height: 140px;
            top: 0;
            background: url('/img/icons/cup.svg') center;
            background-size: contain;
            background-repeat: no-repeat;
            display: none;
        }
        .plate {
            position: absolute;
            height: 40px;
            width: 93%;
            bottom: 0;
            background: url('/img/icons/plate.svg') center;
            background-size: contain;
            background-repeat: no-repeat;
            display: none;
        }
    }
    .curves {
        height: 60px;
        background: url('/img/icons/woodcurve.png');
        background-size: contain;
        width: 100%;
        position: absolute;
        top: 100%;
    }
}
/* iPads (portrait) ----------- */
@media only screen
and (max-width : 1024px) {
    body {
        font-size: 12pt;
    }
    #projects .folder {
        font-size: 12pt;
    }
}
