body {
  background: #FFF8E7;
  color: #AC8C73;
}

.header {
  height: 100vh;
  .dialogue {
    color: #ddd;
  }
}
.app {
  > .bg {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url('../static/background.jpg');
  }
  > .wrapper {
    position: fixed;
    height: calc(100% - 100px);
    width: calc(100% - 100px);
    top: 0;
    left: 0;
    box-sizing: border-box;
    margin: 50px;
    overflow: scroll;
  }
}

.portfolio {
  min-height: 100vh;
  background: #FFF8E7;
}