$tan: #FFF8E7;
$pastel-red: #DD5959;
$font-tan: #AC8C73;
$font-tint: #FCF5AF;
$font-soft: #D0AD92;
$ez-transition: 200ms all ease-in-out;
body {
  background: $tan;
  color: $font-tan;
  font: 22px/1.5 'source sans pro', helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.faded {
  filter: blur(5px);
}

a {
  color: $font-soft;
  transition: $ez-transition;
  text-decoration: none;
  &:hover {
    color: $pastel-red;
  }
}

h1,
h2,
h3 {
  text-transform: uppercase;
  color: $pastel-red;
  font: 40px/1 'montserrat', sans-serif;
  margin: 0;
}
.header {
  height: 100vh;
  min-height: 700px;
  .dialogue {
    color: #ddd;
    position: absolute;
    width: 100%;
    height: calc(100% - 300px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    h1 {
      color: #f0f0f0;
      width: 700px;
      line-height: 1.5;
      text-transform: none;
      span {
        
      }
      .special {
        color: $font-tint;
      }
      .link {
        color: $font-tint;
        border-bottom: 2px dashed;
        transition: $ez-transition;
        &:hover {
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(farthest-corner at 100% 100%, $tan 0, rgba($tan,0) 70%);
  .logo {
    width: 200px;
    height: 200px;
    background: url('../static/logo.png');
    background-size: contain;
    opacity: 0.1;
  }
  .social {
    a, span {
      margin: 5px 10px;
      color: $font-soft;
      display: inline-block;
      transition: $ez-transition;
      &:hover {
        color: $pastel-red;
      }
    }
  }
}
.cup-holder {
  position: fixed;
  bottom: 45px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.coffee {
  width: 300px;
  height: 300px;
  position: relative;
  &.hide {
    opacity: 0;
  }
  &.suspended {
    .shadow, .fume {
      opacity: 0;
    }
  }
  .cup, .plate-a, .plate-b, .fume, .shadow {
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transform: translateZ(0);
    will-change: opacity, transform;
    background-repeat: no-repeat;
  }
  .fume {
    bottom: 50%;
    width: 100%;
    transition: $ez-transition;
  }
  .cup {
    width: 75%;
    bottom: 3%;
    right: 6%;
  }
  .plate-a {
  }
  .plate-b {
    bottom: 4.2%;
  }
  .shadow {
    border-radius: 100%;
    height: 3%;
    width: 100%;
    background: rgba(0,0,0,0.2);
    transition: $ez-transition;
  }
}

.table {
  position: fixed;
  bottom: -100px;
  left: 0;
  height: 160px;
  width: 100%;
  background: url('../static/wood.png');
  background-size: contain;
  box-shadow: 0 -20px 40px rgba(0,0,0,0.1);
  transition: .4s all cubic-bezier(.5, -0.500, 0.7, .5);
  &.hide {
    bottom: -300px;
  }
}

.app {
  >.bg {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background: url('../static/background.jpg') no-repeat center border-box;
  }
  >.frame {
    position: fixed;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    top: 20px;
    left: 20px;
    box-sizing: border-box;
    border: 5px solid $pastel-red;
    z-index: -1;
    transition: $ez-transition;
    will-change: opacity;    
    pointer-events: none;
    &.hide {
      opacity: 0;
    }
  }
  >.fill {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(farthest-corner at 100% 100%, $tan 60%, rgba($tan, 0.8));
    z-index: -1;
    -webkit-transform: translateZ(0);
    will-change: transform, opacity;
    &.port {
      transition: $ez-transition;
    }    
    &.rev {
      opacity: 0.8 !important;
    }
  }
  >.wrapper {}
}

.portfolio {
  min-height: 200vh;
  position: relative;
  >.left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    z-index: -1;
    transition: $ez-transition;
    &.snap {
      position: fixed;
      h1 {
        color: $pastel-red;
      }
    }
    &.passed {
      opacity: 0;
    }
    h1 {
      font-size: 40px;
      margin: 40px 30px;
      padding-bottom: 20px;
      color: $font-tan;
      border-bottom: 5px solid rgba($font-tan, 0.1);
    }
  }
  >.right {
    width: calc(100% - 600px);
    float: right;
    margin-right: 50px;
    .spacer {
      width: 200px;
      height: 200px;
      float: right;
    }
  }
}
.demo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($tan,0.9);
  overflow-y: scroll;
  z-index: 90001;
  .exit {
    width: 40px;
    height: 40px;
    position: relative;
    float: right;
    vertical-align: bottom;
    &:after, &:before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 0;
      width: 0;
      height: 100%;
      border-left: 5px solid;
      transform: rotate(45deg);
      transition: $ez-transition;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:hover {
      cursor: pointer;
      &:after, &:before {
        height: 150%;
        top: -25%;
      }
    }
  }
  .content {
    width: 700px;
    margin: 100px auto;
    text-align: left;
    h1 {
      text-transform: capitalize;
    }
    p {
      margin-bottom: 40px;
    }
    img {
      width: 100%;
      background: #eee;
      border-radius: 5px;
      border: none;
      box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    }
    .img {
      margin-bottom: 20px;
      span {
        color: $font-soft;
        font-style: italic;
      }
    }
  }
}
.piece {
  width: 50%;
  float: left;
  padding: 15px;
  transition: $ez-transition;
  &:nth-child(odd) {
    float: right;
  }
  &:hover {
    cursor: pointer;
    video {
      box-shadow: 0 5px 20px rgba(0,0,0,0.15);
    }
  }
  .bg {
    video {
      width: 100%;
      background: #eee;
      width: 100%;
      border-radius: 8px;
      box-shadow: 0 5px 20px rgba(0,0,0,0.1);
      transition: $ez-transition;
    }
  }
}